<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="intervalo_meses_control_ldl" value="12" />
    <add key="intervalo_meses_control_diabetes_mellitus" value="6" />
    <add key="intervalo_meses_control_hiper_arterial" value="12" />
    <add key="intervalo_meses_control_pth_trimestral" value="3" />
    <add key="intervalo_meses_control_pth_semestral" value="6" />
    <add key="intervalo_meses_control_pth_anual" value="12" />
    <add key="intervalo_meses_medicion_albuminuria" value="12" />
    <add key="intervalo_meses_medicion_hba1c" value="6" />
    <add key="intervalo_meses_medicion_ldl" value="12" />
    <add key="intervalo_meses_medicion_pth_trimestral" value="3" />
    <add key="intervalo_meses_medicion_pth_semestral" value="6" />
    <add key="intervalo_meses_medicion_pth_anual" value="12" />
    <add key="intervalo_meses_medicion_creatinina_anual" value="12" />
    <add key="intervalo_meses_medicion_progresion_renal_anual" value="12" />
    <add key="NUM_COLUMNS_KEY" value="3" />
    <add key="COLUMNS_NAME" value="columna1|Number|false|integer,columna2|Text|true|,columna3|Number|true|,columna4|DateTime|true|dd-MM-yyyy" />
    <add key="DATE_TIME_TYPE" value="DateTime" />
    <add key="NUMBER_TYPE" value="Number" />
    <add key="CAC_TEMPLATE" value="var_validate_file.json" />
    <add key="PRIORITY_PATIENT_TEMPLATE" value="var_paciente_prioritario.json" />
    <add key="TemporalFolder" value="tem" />
    <add key="DebuggerFolder" value="Debugger SND.CAC" />
    <add key="RootFolder" value="CACFileUpload" />
    <add key="BackupFolder" value="backup" />
    <add key="ExceptionFile" value="exception.txt" />
    <add key="LogFile" value="log.txt" />
    <add key="TemporalServerFolder" value="~/TempFiles" />
    <add key="TimeZoneInfo" value="SA Pacific Standard Time" />
    <add key="DateFormat" value="yyyy-MM-dd" />
    <add key="TimeFormat" value="HH.mm.ss" />
    <add key="FullDateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <add key="URL_LOCAL" value="http://localhost:10090/api/services/v1/" />
    <add key="URL_REMOTE" value="http://testing.azurewebsites.net/api/services/v1/" />
    <add key="IsRemote" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="mhealthdiabetesdb" connectionString="" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="SNDServiceBehavior" name="Indicadores.Services.IndicadorService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="Indicadores.Interfaces.IIndicadoresService" />
      </service>
      <service behaviorConfiguration="SNDServiceBehavior" name="Indicadores.Services.IndicadoresTotalesService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="Indicadores.Interfaces.IIndicadoresTotalesService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SNDServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>