<!DOCTYPE html>
<html lang="es-co">
<head>
    @Html.Partial("_SharedStyles")
    <link href="~/css/login.css" rel="stylesheet" />

    <script type="text/javascript" src="~/js/jquery-1.11.3.js"></script>
    
    @Html.Partial("_FirebaseSettings")
    
    <script type="text/javascript" src="~/js/mostrar-mensaje.js"></script>
    <script type="text/javascript" src="~/js/drift_methods.js"></script>
    
</head>
<body>
    @RenderBody()
</body>
</html>

